<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/main.css    ">
    <title>Mobtype</title>
</head>
<body>
    <main>
        <h1>Find the incType of your plasmid</h1>
        <p>Mobsite helps you to find the incompatibility type of your plasmid.To get started enter the id of your sample below</p>
        <!-- <form action="">
            <label for="query">Search</label>
            <input type="text" id="query">
        </form>
        <input type="submit"> -->
        <div>
            <h1>{{ plasmid.sample_id }}</h1>
            <ul>
                <li>{{ plasmid.rep_type }}</li>
                <li>{{ plasmid.rep_type_accession }}</li>
                <li>{{ plasmid.predicted_mobility }}</li>
                <li>{{ plasmid.organism }}</li>
                <li>{{ plasmid.taxid }}</li>
            </ul>
        </div>
    </main>
    
</body>
</html>