<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="static/main.css"> -->
    <title>Mobtype</title>
</head>
<body>
    <main>
        <h1>Find the incType of your plasmid</h1>
        <p>Mobsite helps you to find the incompatibility type of your plasmid.To get started enter the id of your sample below</p>
        <form action="" method="post" enctype="multipart/form-data">
                <fieldset class="form-group">
                    <div class="form-group">
                        {{ form.search.label(class="form-control-label") }}

                        {% if form.search.errors %}
                            {{ form.search(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.search.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.search(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>

        <div>
            <h1>{{ plasmid.sample_id }}</h1>
            <ul>
                <li>{{ plasmid.rep_type }}</li>
                <li>{{ plasmid.rep_type_accession }}</li>
                <li>{{ plasmid.predicted_mobility }}</li>
                <li>{{ plasmid.organism }}</li>
                <li>{{ plasmid.taxid }}</li>
            </ul>
        </div>
    </main>
    
</body>
</html>